@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Nunito:wght@400;500;600;700;800&display=swap");

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Nunito", ui-sans-serif, system-ui, sans-serif;

  --color-brand-orange: #f27d26;
  --color-brand-blue: #4a90e2;
  --color-brand-bg: #f8efe5;
  --color-brand-text: #0f86a1;
}

body {
  @apply bg-brand-bg text-slate-900 font-sans antialiased;
}

h1,
h2,
h3 {
  @apply font-display font-bold tracking-tight;
}

p {
  color: rgba(27, 27, 27, 0.7);
}


.course-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: white;
  border-radius: inherit;
  clip-path: circle(0% at 0% 100%);
  transition: clip-path 0.65s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;
  pointer-events: none;
}

.course-card:hover::before {
  clip-path: circle(150% at 0% 100%);
}

.course-card:hover {
  cursor: pointer;
}
